{% extends "app_2/layout/base.html" %}
{% block content %}
<h1><a href="#" id="href_bio">Profile</a></h1>
<hr/>
<section name="bio">
	<center>
		<div class="container">
			<center>
				<img class="img-circle" src={{imageurl}} width="250" height="250">
			</center>
			<h3 align="center"> {{name}} </h3>
			<table align="center" style="text-align: justify">
				<tr>
					<td> Birthday </td>
					<td> {{birthday}} </td>
				</tr>
				<tr>
					<td> Gender </td>
					<td> {{gender}} </td>
				</tr>
				<tr>
					<td> Expertise </td>
					<td>
						<ul class="allTags">
							{% for exp in expertise %}
								<li>
									<a class="tag">{{exp.exp}}</a>
								</li>
							{% endfor %}
						</ul>
					</td>
				</tr>
				<tr>
					<td> Description </td>
					<td> {{description}} </td>
				</tr>
				<tr>
					<td> Email </td>
					<td> {{email}} </td>
				</tr>
		</div>
	</center>
</section>

{% endblock %}