<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>

	
	

	
	
	
	.left-content{
	
				
		width:25%;
		height:700px;
		float:left;
		margin-left:10px;
		
	}

	.right-content{
		
		width:100%;
		
		float:left;
		
	}
	
	.right2-content{
		float:left;
		height:700px;
		width:22%;
		margin-right:20px;
	
	}
	
	.img{
	float:left;
	padding-top:10px;
	padding-right:5px;
	padding-left:15px;
	width:68px;
	height:68px;
	}
	
	.img-flex{
	float:left; 
	padding-top:10px;
	padding-right:5px;
	padding-left:15px;
	width:45;
	height:45;
	}
	
	.post-button{
	
		margin-left:100px;
		margin-top:10px;
		background:#2C97DF;
		color:white;
		border-top:0;
		border-left:0;
		border-right:0;
		border-bottom:5px solid #2A80B9;
		padding:10px 20px;
		text-decoration:none;
		font-family:sans-serif;
		font-size:11pt;
		text-decoration:bold;
	}
	
	.flex{
		
		
		padding-left:7px;
		padding-right:7px;
		padding-top:18px;
		padding-bottom:5px;
	}
	
	.flex-item{
	
		background-color:#F5F5F5;
		padding-left:15px;
		padding-right:15px;
		padding-bottom:20px;
		
		word-wrap:break-word;
		border :3px solid white;
		border-radius:6px;
	}
	
	.flex-item-tem{
		
		word-wrap:break-word;
		border-bottom:4px solid black;
		border-radius: 10px;
		margin-bottom:20px;
		padding-bottom:20px;
		padding-left:30px;
		padding-right:10px;
		border-right:4px solid black;
		background-color:white;
		border-left: 4px solid black;
	}
	.tulisan-tulis{
		margin-left:155px;
		font-family:sans-serif;
		font-size:24pt;
		text-decoration:bold;
	}
	.img-prof{
	padding-top:25px;
	padding-left:50px;
		width:165px;
		height:165px;
		
	}
	
	.tulisan2{
		margin-left:35px;
		font-family:sans-serif;
		font-size:16pt;
		
	}
	
	.tulisan3{
		margin-left:80px;
		font-family:sans-serif;
		font-size:12pt;
		
	}
	
	.nama{
			margin-left:10px;
			padding-bottom:5px;
			font-size:16pt;
			position: absolute ;
			top: -9999px ;
			left: -9999px ;
	}
	
	
	
	

	#input-list{
	margin-left:70px;
		margin-top:50px;
		background: linear-gradient(to bottom right, #606062, #393939);
		color:white;
		border: 4px solid rgb(135, 206, 235, 0.6);
		border-radius: 10px ;
		width:450px;
		
	}
	
	#tulisan{
		margin-left:30px;
		color:white;
		background-color:gray;
		border: 4px solid rgb(135, 206, 235, 0.6);
		border-radius: 5px;
		width:550px;
		
		
	}
	
	#my-list{
		margin-left:75px;
		width:450px;
		padding-right:5px;
		padding-left:5px;
			}
	
	#form{
		padding-top:10px;
		padding-left:10px;
		padding-bottom:10px;
		margin-left:85px;
		margin-top:20px;
	}
	
	
	
	#list-profile{
	margin-top:10px;
	margin-left:40px;
		background-color:white;
		width:300px;
		height:350px;
	}
	
	#list-friend{
	margin-left:40px;
		background-color:white;
		width:300px;
		height:500px;
	}
	
	#list-friend2{
	margin-top:10px;
		margin-right:35px;
		background-color:white;
		width:300px;
		height:600px;
	}
	
	
	#my-list{
	
	}
	
	.icon_post{
		width:30px;
		height:30px;
		padding-right:20px;
		float:left;
	}
	
	
	
	@media only screen and (max-width:768px) {
		.left-content {
			
		
			position: absolute ;
			top: -9999px ;
			left: -9999px ;
		 
		}
	
		.right-content{
			width :auto;
			margin-left:0px;
			float:none;
			
	}
	
		#input-list{
		
			width:320px;
			margin-left:12px;
			margin-right:0px;
		}
		

		.img{
		margin-left:75px;
		width:150px;
		height:150px;
			
			padding-bottom:5px;
		}
		
		
		
		.nama{
			position: relative ;
			top: 18px ;
			left: 5px ;
		}
		
		.post-button{
			margin-left:110px;
			margin-bottom:10px;
		}
		
		.tulisan-tulis{
		margin-left:90px;
		font-family:sans-serif;
		font-size:16pt;
		text-decoration:bold;
	}
	
	.tulisan4{
	margin-top:180px;
	font-size:16pt;
	font-family:sans-serif;
	margin-left:70px;
	color:gray;
	}
	
	.tulisan5{
	
	font-size:13pt;
	font-family:sans-serif;
	margin-left:130px;
	color:gray;
	}
		
		#tulisan{
			margin-left:8px;
			margin-right:0px;
			width:320px;
		}
		
			#form{
		width:310px;
		padding-top:5px;
		padding-left:10 px;
		padding-right:10px;
		padding-bottom:0px;
		margin-left:10px;
		margin-top:0px;
		}
	
	#my-list{
		margin-right:0px;
		margin-left:8px;
		width:320px;
		margin-bottom:10px;
	}
	
	#belakang{
	width:100%;
	
	background-color:#FFEFD5;
	
	padding-bottom:20px;
	padding-top:2px;
	}
	
	#belakang_2{
	background-color:#B0E0E6	;
		padding-bottom:20px;
	padding-top:5px;
	
	}
	
	
	
	}
	
	
	
	
	
	</style>


</head>

{% block content %}

<div class="right-content">

<div id="belakang">
<img src="http://www.mediafire.com/convkey/db67/bmkz78dok9w1ww6zg.jpg" class="img"  />
<p class="tulisan4">
		<b> Rafif Iqbal Shaputra</b>
</p>
<p class="tulisan5">
		<b><img src="https://cdn3.iconfinder.com/data/icons/line-icons-medium-version/64/comment-512.png" class="icon_post"\>{{count_status}}<br><br>
		<img src="https://cdn4.iconfinder.com/data/icons/eldorado-user/40/friends-512.png" class="icon_post"/>  {{friend}} <b>
</p>
<section name="input-list" id="input-list">
    <div class="container_1">
		<div style=”text-align:justify;width:75%; background-color:#ff9999; border:1px solid #000099; padding:8px;”>
		
		<p class="nama" > <b> Whats Happening?</p> </b></div>
        <form id="form" method="POST" action="{% url 'app-1:add_status' %}">
            {% csrf_token %}
            {{ status_form }}
            <input id="submit" type="submit" class="post-button" value="Post">
            
        </form>
		
    </div>
</section>
</div>

<section id="belakang_2">
<section name="tulisan" id="tulisan">
	<p class="tulisan-tulis">
	<b>See All Status</b>
	</p>
</section>

<section name="my-list" id="my-list">
    <div class="container_2">
	
        <div class="flex">
		
            {% if status %}
				
                {% for data in status %}
				<div class="flex-item">
				<p style="font-size:10pt ;font-family:Courier;">
				 <img src="http://www.mediafire.com/convkey/db67/bmkz78dok9w1ww6zg.jpg" class="img-flex"  />
				<br>Rafif Iqbal Shaputra<br>{{data.created_date}} <hr>
				</p>
				<p style="font-size:10pt; font-family:Courier; text-align:justify;">
				 {{data.description}}
				 </p>
				 </div>
				 <br>
				
				
                {% endfor %}
				
				
			
            {% else %}
		
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada data status.
            </div>
            {% endif %}
        </div>
	
    </div>
</section>
</div>
</div>

{% endblock %}
