{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="App 3">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">    

    <title> 
        {% block title %} Friends of {{author}}{% endblock %}
    </title>
</head>
<style>
    body{
        background-color : orange;
    }
    .contain {
        margin-left: 15%;
        margin-right: 15%;
        padding-left: 2%;
        padding-right: 2%;
        background-color: white;
    }

    h2 {
        font-family: arial;
        text-align: center;
        margin-top: 8px;
        padding-top: 15px;
    }

    .friend-form {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        text-align: center;
        position: relative;
        background: white;
        border: 0 none;
        border-radius: 3px;
        padding: 20px 30px;
        box-sizing: border-box;
    }

    .name-form {
        text-align: center;
        border-style: inset;
        padding: 8px 0;
        border-radius: 5px;
        width: 100%;
    }

    .url-form {
        text-align: center;
        margin-top: 15px;
        border-radius: 5px;
        border-style: inset;
        padding: 10px 0;
        font: 13.3333px Arial;
        width: 100%;
    }

    .friend-button {
        font: 13.3333px Arial;
        padding: 10px, 0;
        margin-top: 15px;
        border-radius: 5px;
        padding: 5px 0;
        background-color: #3b5998;
        color: white;
    }

    .flex {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 30px;
        box-sizing: border-box;
    }

    .flex-item {
        display: flex;
        flex-direction: row;
        padding: 10px 5px;
        border-radius: 5px;
    }

    .flex-item:hover {
        box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.4);
        transition: all ease 0.5s;
        background-color: rgba(0, 0, 0, 0.03);
    }

    .friend {
        width: 100%;
        font: 13.3333px Arial;
    }

    .friend-name {
        float: left;
        width: 30%;
    }

    .friend-url {
        text-align: right;
        float: right;
        width: 55%;
        overflow: hidden;
    }

    .friend-added-date {
        text-align: right;
        clear: both;
        font-size: 13px;
    }


    @media screen and (max-width: 768px) {
        .contain {
            margin-left: 0;
            margin-right: 0;
        }

        .flex-item {
            box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.4);
            background-color: rgba(0, 0, 0, 0.03);
        }

        .friend {
            overflow: visible;
        }

        .friend-name {
            float: none;
            width: 100%
        }

        .friend-url {
            float: none;
            text-align: left;
            width: 100%;
            font-size: 11px;
        }

        .friend-added-date {
            float: none;
        }

        .friend-button {
            padding: 3% 0;
        }

    }
</style>
<body>
    <header>
        {% include "app_3/partials/header.html" %}
    </header>
    <content>
        <div class="container">
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
        </div>

    </content>
    <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "app_3/partials/footer.html" %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script> -->
</body>

 <!-- <script>
    $(function(){
      $('#form1').validate({
        rules: { //yang dicari name nya bukan id
          name:"required",
          age:{
            required: true,
            maxlength: 3
          }
        },
        messages:{
          name:"Jangan lupa diisi"
        },
        submitHandler: function(bebas){
          bebas.submit();
        }
      })
    })
</script>  -->
</html>
