{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
		{% block title %} Profile {% endblock %}
    </title>
</style>
<style>
	h1, h3, td {
		font-family: "Calibri";
	}
	h1 a {
		color: #000000;
		text-decoration: none;
	}
	hr {
		border: 1px transparent;
	}
	td {
		vertical-align: top;
		max-width: 560px;
		word-wrap: break-word;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 8px;
	}
	.allTags {
		list-style: none;
		margin: 0;
		overflow: hidden;
		padding: 0;
	}
	.tags li {
		float: left;
	}
	.tag {
		background: #eeeeee;
		border-radius: 10px;
		display: inline-block;
		height: 26px;
		line-height: 26px;
		padding: 0 20px 0 23px;
		position: relative;
		margin: 0 10px 5px 0;
		text-decoration: none;
		-webkit-transition: color 0.2s;
	}
	.tag:hover {
		background-color: #3a5fff;
		color: white;
	}
	.tag:hover::after {
		border-left-color: #3a5fff; 
	}
	.img-circle {
		border-radius : 50%;
	}
	.container {
		border-radius: 5%;
		padding-top: 30px;
		padding-bottom: 30px;
		height: auto;
		width: 800px;
		background: #fff;
	}
</style>
<body style="background-color: #eeeeee">
	{% block content %}
		<!-- content goes here -->
	{% endblock %}
</body>
</html>