{% extends "app_3/layout/base.html" %}

{% block title %} Friends {% endblock %}

{% block content %}
<!--  Populate semua isi pesan dari model -->
<p>Add Friend</p>
<table class="table">
    
    <tbody>
        <!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
        {% for i in friend %}
        <tr class="success">
            <td> {{i.name}} </td>
            <td> {{i.url}} </td>
            <td> {{i.created_date}} </td>
        </tr>             
        {% endfor %}
    </tbody>
</table>

{% endblock %}
